.container {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    border: 10px solid #000;
    cursor: pointer;
}
.container:active {
    transform: scale(2);
}
.first {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid blue;
}
.second {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: red;
}
.inner {
    width: 60px;
    height: 60px;
    background-color: yellow;
}